#nav{
    height: var(--navheight);
    background-color: #061451;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Pretendard-Regular';
    padding: 0 20px;
    color: var(--white);
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
a{
    color: var(--white)
  
}
.nav-menu{
    display: flex;
    column-gap: 207px;
}
.nav-side{
    display: flex;
    column-gap: 44px;
    padding: 25px;

}
 .nav-toggle{
    display: none;
 }
.bi-list, .bi-x{
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.blur{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

.blur.show{
    display: block;
}
.toggleActive {
    display: flex !important;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #061451;
    z-index: 999;
    padding: 20px;
}
@media (max-width: 1284px) {
    .nav-menu{
        column-gap: 140px;
    }
}

@media (max-width: 1080px) {  
    .nav-menu{
        column-gap: 100px;
    }

}
@media (max-width: 890px) {  
    .nav-menu{
        column-gap: 60px;
    }
    .nav-item, .nav-side{
        font-size: 13px;
    }   
}
@media (max-width: 768px) {
    .nav-menu, .nav-side {
        display: none;  
        flex-direction: column;
        width: 100%;
    }
    .nav-toggle{
        display: block;
        align-items: center;
    }

    .nav-side{
        flex-direction: column;
        background-color: #F0F4FF;
        width: 197px;
        height: 890px;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: -1;
        display: none;/* 처음에 안 보여지게 함 */
    }
    .bi-x-lg {
        font-size: 1.3rem;
    }

    /* 토글 기능 클래스 */
    .toggleActive {
        display: block;
    }

    .show {
        display: flex;
    }
}