body{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: var(--navheight);
    font-family: 'Pretendard-Regular';
    background: #070053;
    padding: 0 20px;
    box-sizing: border-box;
}

.nav-logo{
    display: flex;
    align-items: center;
}

.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-item{
    padding: 30px;
}
.nav-language,.nav-sign,.nav-item{
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
}

.nav-language,.nav-sign{ 
    margin-left: 20px;
}
@media screen and (max-width:870px){
    .nav{
        flex-direction: column;
        align-items: center;
    }
    .nav-items{
        align-items: center;

    }
    .nav-item, .nav-language, .nav-sign{
        margin: 5px 0;
    }
}
@media screen and (max-width:430px){
    .nav-items{
        align-items: center;
    }
    .nav-item,.nav-language{
        margin: 5px 0;
        padding: 5px;
    }
    .nav-sign, .nav-language{
        margin: 5px 0;
        padding: 5px;
    }
}