.container{
    padding-top: 10vh;
}
.write-item{
    font-weight: bold;
    font-size: var(--introduction);
    
}
.detail-item{
    font-size: var(--detailSize);
    font-family: 'Pretendard-Regular';
    color: #9E9E9E;
}
.princess-img{
    display: block;
    position: absolute;
    width: 948px;
    height: 534px;
    left: 972px;
    z-index: 1;
}
.note-img{
    display: block;
    position: absolute;
    
    z-index: 1;
}
@media (min-width:801px) and  (max-width:1500px){
    .note-img{
        z-index: 2;
    }
    .princess-img{
        z-index: 1;
    }
}
@media (max-width:800px){

}