@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
/*  font-family: 'EB Garamond', serif;*/

:root{
    /*nav*/
    --navheight: 60px;
    --navgap: 207px;

    /*font color*/
    --white: #FFFFFF;
    --color1: #000000;
    --color2: #9E9E9E;

    /*font size*/
    --navSize: 0.875rem;
    --basicSize : 1rem;
    --titleSize: 4.375rem;
    --introduction : 2.25rem;
    --detailSize: 0.75rem;
    --textSize: 0.625rem;

    /*footer*/
    --footerHeight: 550px;
    --footergap: 60px;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

html, body{
    width: 100%;
}

body>header{
    position: absolute;  
    top: 0;
    right: 0;
    left: 0;
}