:root{
    /*nav*/
    --navheight: 60px;
    --navgap: 207px;

    /*font color*/
    --white: #FFFFFF;
    --color1: #000000;
    --color2: #9E9E9E;

    /*font size*/
    --navSize: 0.875rem;
    --basicSize : 1rem;
    --titleSize: 4.375rem;
    --introduction : 2.25rem;
    --detailSize: 0.75rem;
    --textSize: 0.625rem;

    /*footer*/
    --footerHeight: 550px;
    --footergap: 60px;
    
}
/* text : left - 372 right - 1116 */

/* princess img size : 948 X 534 */
